Flask==3.1.0 
beautifulsoup4==4.12.3  # for parsing Instagram’s HTML export
reportlab==4.4.0       # for PDF-generation
pytest                # to  test suite
gunicorn==23.0.0      # (optional) for production
